/* line 2, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 12, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* line 16, ../sass/_reset.scss */
body { line-height: 1; }

/* line 20, ../sass/_reset.scss */
ol, ul { list-style: none; }

/* line 24, ../sass/_reset.scss */
blockquote, q { quotes: none; }

/* line 28, ../sass/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

/* line 33, ../sass/_reset.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 10, ../sass/_main.scss */
* { box-sizing: border-box; }

/* line 18, ../sass/_main.scss */
body { margin: 0; padding: 80px 0 0 0; background: #97c8cf; background: -moz-linear-gradient(-45deg, #97c8cf 1%, #0fafff 34%, #186dc4 100%); background: -webkit-linear-gradient(-45deg, #97c8cf 1%, #0fafff 34%, #186dc4 100%); background: linear-gradient(135deg, #97c8cf 1%, #0fafff 34%, #186dc4 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#97c8cf', endColorstr='#186dc4', GradientType=1); background-attachment: fixed; }

/* line 24, ../sass/_main.scss */
::selection { background: #0fafff; color: white; }

/* line 28, ../sass/_main.scss */
::-moz-selection { background: #0fafff; color: white; }

/* line 33, ../sass/_main.scss */
#header { position: fixed; z-index: 20; left: 0; top: 0; height: 80px; width: 100%; background: #ffca74; background: -moz-linear-gradient(45deg, #ffca74 0%, #ff873d 100%); background: -webkit-linear-gradient(45deg, #ffca74 0%, #ff873d 100%); background: linear-gradient(45deg, #ffca74 0%, #ff873d 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffca74', endColorstr='#ff873d', GradientType=1); box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25); }
/* line 49, ../sass/_main.scss */
#header .logo { display: block; width: 147px; height: 28px; background: url('../images/logo.svg?1525375226') no-repeat center center; margin: 26px auto 0; transition: filter 0.2s ease 0s; -webkit-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.25)); filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.25)); }
/* line 59, ../sass/_main.scss */
#header .logo:hover { -webkit-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5)); filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5)); }
/* line 64, ../sass/_main.scss */
#header .hamburger-opener { display: block; background: url('../images/hamburger.svg?1525330936') no-repeat center center; height: 20px; width: 4px; position: absolute; right: 30px; top: 30px; opacity: 0.5; -webkit-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.25)); filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.25)); transition: opacity 0.2s ease 0s; }
@media (min-width: 768px) { /* line 64, ../sass/_main.scss */
  #header .hamburger-opener { width: 20px; } }
@media (min-width: 768px) { /* line 64, ../sass/_main.scss */
  #header .hamburger-opener { right: 200px; } }
@media (min-width: 1152px) { /* line 64, ../sass/_main.scss */
  #header .hamburger-opener { right: 300px; } }
@media (min-width: 1500px) { /* line 64, ../sass/_main.scss */
  #header .hamburger-opener { right: 500px; } }
/* line 92, ../sass/_main.scss */
#header .hamburger-opener:hover { opacity: 1; }
/* line 95, ../sass/_main.scss */
#header .hamburger-opener.open { opacity: 1; }

/* line 101, ../sass/_main.scss */
#toolbox { position: fixed; z-index: 10; padding: 15px; height: calc(100% - 80px); box-shadow: 0 0 5px rgba(0, 0, 0, 0.25); top: 80px; left: 30px; right: 30px; background: #baf6ff; background: -moz-linear-gradient(-45deg, #baf6ff 0%, #6bceff 34%, #1f8eff 100%); background: -webkit-linear-gradient(-45deg, #baf6ff 0%, #6bceff 34%, #1f8eff 100%); background: linear-gradient(135deg, #baf6ff 0%, #6bceff 34%, #1f8eff 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#baf6ff', endColorstr='#1f8eff', GradientType=1); opacity: 0; pointer-events: none; transition: opacity 0.2s ease 0s; overflow-y: scroll; }
@media (min-width: 768px) { /* line 101, ../sass/_main.scss */
  #toolbox { left: 200px; right: 200px; } }
@media (min-width: 1152px) { /* line 101, ../sass/_main.scss */
  #toolbox { left: 300px; right: 300px; } }
@media (min-width: 1500px) { /* line 101, ../sass/_main.scss */
  #toolbox { left: 500px; right: 500px; } }
/* line 133, ../sass/_main.scss */
#toolbox.open { opacity: 1; pointer-events: auto; }
/* line 140, ../sass/_main.scss */
#toolbox::-webkit-scrollbar { width: 10px; background-color: #0fafff; }
/* line 144, ../sass/_main.scss */
#toolbox::-webkit-scrollbar-thumb { background-color: #ff984a; }
/* line 149, ../sass/_main.scss */
#toolbox ul li { margin-bottom: 6px; }
/* line 151, ../sass/_main.scss */
#toolbox ul li:last-child { margin-bottom: 0; }
/* line 154, ../sass/_main.scss */
#toolbox ul li a { display: block; width: 100%; background-color: transparent; border: solid 1px rgba(0, 84, 168, 0.25); text-align: center; font: bold 18px/18px "Arimo"; color: #0054a8; text-decoration: none; padding: 6px; border-radius: 18px; transition: background-color 0.2s ease 0s, border-color 0.2s ease 0s; }
/* line 167, ../sass/_main.scss */
#toolbox ul li a:hover { border-color: white; background-color: white; }

/* line 176, ../sass/_main.scss */
#content { padding: 30px; height: 100%; }
@media (min-width: 768px) { /* line 176, ../sass/_main.scss */
  #content { margin: 0 200px; background-color: rgba(255, 255, 255, 0.1); box-shadow: 0 0 5px rgba(0, 0, 0, 0.25); } }
@media (min-width: 1152px) { /* line 176, ../sass/_main.scss */
  #content { margin: 0 300px; } }
@media (min-width: 1500px) { /* line 176, ../sass/_main.scss */
  #content { margin: 0 500px; } }

/* line 192, ../sass/_main.scss */
h1 { font: bold 36px/36px "Playfair Display"; color: white; text-align: center; letter-spacing: -0.05em; margin-bottom: 36px; }

/* line 200, ../sass/_main.scss */
h2 { font: bold 30px/30px "Playfair Display"; color: white; text-align: center; letter-spacing: -0.05em; margin-bottom: 18px; }
/* line 206, ../sass/_main.scss */
h2:not(:first-child) { margin-top: 36px; }

/* line 212, ../sass/_main.scss */
p { color: white; font: bold 18px/18px "Arimo"; margin-bottom: 12px; }

/* line 218, ../sass/_main.scss */
.center { text-align: center; }

/* line 222, ../sass/_main.scss */
label { display: block; color: white; font: bold 18px/18px "Arimo"; margin-bottom: 6px; cursor: pointer; }
/* line 229, ../sass/_main.scss */
label.inline { display: inline; }

/* line 234, ../sass/_main.scss */
input[type=date], input[type=datetime-local], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week] { border: none; border-radius: 3px; outline: none; padding: 15px; font: bold 18px/18px "Arimo"; color: black; box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25); width: 100%; }
/* line 243, ../sass/_main.scss */
input[type=date][disabled=disabled], input[type=datetime-local][disabled=disabled], input[type=email][disabled=disabled], input[type=month][disabled=disabled], input[type=number][disabled=disabled], input[type=password][disabled=disabled], input[type=search][disabled=disabled], input[type=tel][disabled=disabled], input[type=text][disabled=disabled], input[type=time][disabled=disabled], input[type=url][disabled=disabled], input[type=week][disabled=disabled] { background-color: rgba(255, 255, 255, 0.25); box-shadow: none; color: white; }

/* line 250, ../sass/_main.scss */
div#result { background-color: rgba(255, 255, 255, 0.25); font: bold 18px/18px "Arimo"; color: white; border-radius: 3px; padding: 15px; }

/* line 258, ../sass/_main.scss */
textarea { border: none; border-radius: 3px; width: 100%; box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25); padding: 15px; font: 19px/25px "Playfair Display"; color: black; outline: none; }
/* line 267, ../sass/_main.scss */
textarea[disabled=disabled] { background-color: rgba(255, 255, 255, 0.25); box-shadow: none; color: white; }

/* line 274, ../sass/_main.scss */
input[type=checkbox] { margin: 0 8px 0 0; width: 18px; height: 18px; -webkit-appearance: none; -webkit-tap-highlight-color: transparent; background: white; border-radius: 3px; box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25); outline: none; border: none; cursor: pointer; vertical-align: text-bottom; }
/* line 288, ../sass/_main.scss */
input[type=checkbox]:checked { background: white url('../images/checkmark.svg?1525334450') no-repeat center center; }

/* line 293, ../sass/_main.scss */
input[type=submit] { width: 100%; font: bold 18px/18px "Arimo"; color: white; background: #ff984a; border-radius: 3px; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25); transition: background-color 0.2s ease 0s; border: none; padding: 15px; cursor: pointer; -webkit-appearance: none; }
/* line 306, ../sass/_main.scss */
input[type=submit]:hover { background-color: #ff7b17; }

/* line 311, ../sass/_main.scss */
a.info { width: 18px; height: 18px; display: inline-block; background: url('../images/info.svg?1525365115') no-repeat center center; opacity: 0.5; transition: opacity 0.2s ease 0s; cursor: pointer; margin-left: 6px; }
/* line 321, ../sass/_main.scss */
a.info:hover { opacity: 1; }

/* line 326, ../sass/_main.scss */
div#modal-shade-info { background-color: rgba(0, 0, 0, 0.3); position: fixed; left: 0; top: 0; right: 0; bottom: 0; opacity: 0; pointer-events: none; transition: opacity 0.2s ease 0s, backdrop-filter 0.2s ease 0s, -webkit-backdrop-filter 0.2s ease 0s; z-index: 30; }
/* line 337, ../sass/_main.scss */
div#modal-shade-info.open { -webkit-backdrop-filter: blur(12px); backdrop-filter: blur(12px); opacity: 1; pointer-events: auto; }
/* line 343, ../sass/_main.scss */
div#modal-shade-info div.info { position: absolute; background-color: white; border-radius: 3px; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25); padding: 30px; top: 110px; left: 30px; right: 30px; }
@media (min-width: 768px) { /* line 343, ../sass/_main.scss */
  div#modal-shade-info div.info { left: 230px; right: 230px; } }
@media (min-width: 1152px) { /* line 343, ../sass/_main.scss */
  div#modal-shade-info div.info { left: 330px; right: 330px; } }
@media (min-width: 1500px) { /* line 343, ../sass/_main.scss */
  div#modal-shade-info div.info { left: 530px; right: 530px; } }
/* line 364, ../sass/_main.scss */
div#modal-shade-info div.info .close { display: block; position: absolute; width: 11px; height: 11px; background: url('../images/close_x.svg?1525367958') no-repeat center center; cursor: pointer; right: 9.5px; top: 9.5px; }
/* line 374, ../sass/_main.scss */
div#modal-shade-info div.info p { color: #0054a8; font: bold 16px/24px "Arimo"; }
/* line 377, ../sass/_main.scss */
div#modal-shade-info div.info p:last-child { margin: 0; }

/* line 384, ../sass/_main.scss */
a.copy { width: 19px; height: 19px; display: inline-block; vertical-align: text-bottom; background: url('../images/copy.svg?1525335732') no-repeat center center; opacity: 0.5; transition: opacity 0.2s ease 0s; cursor: pointer; }
/* line 394, ../sass/_main.scss */
a.copy:hover { opacity: 1; }

/* line 399, ../sass/_main.scss */
.field { margin-bottom: 18px; }

/* line 403, ../sass/_main.scss */
sup { font-size: 70%; vertical-align: 7px; }
