@mixin body_bg {
  background: #97c8cf;
  background: -moz-linear-gradient(-45deg, #97c8cf 1%, #0fafff 34%, #186dc4 100%);
  background: -webkit-linear-gradient(-45deg, #97c8cf 1%, #0fafff 34%, #186dc4 100%);
  background: linear-gradient(135deg, #97c8cf 1%, #0fafff 34%, #186dc4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#97c8cf', endColorstr='#186dc4', GradientType=1);
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
}

html {
  //@include body_bg();
}

body {
  margin: 0;
  padding: 80px 0 0 0;
  @include body_bg();
}

::selection {
  background: $blue_2;
  color: white;
}
::-moz-selection {
  background: $blue_2;
  color: white;
}

#header {
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  height: 80px;
  width: 100%;

  background: #ffca74;
  background: -moz-linear-gradient(45deg, #ffca74 0%, #ff873d 100%);
  background: -webkit-linear-gradient(45deg, #ffca74 0%, #ff873d 100%);
  background: linear-gradient(45deg, #ffca74 0%, #ff873d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffca74', endColorstr='#ff873d', GradientType=1);

  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);

  .logo {
    display: block;
    width: 147px;
    height: 28px;
    background: image-url('logo.svg') no-repeat center center;
    margin: 26px auto 0;
    transition: filter $trans_dur;

    @include image-shadow(0, 2px, 2px, rgba(0, 0, 0, 0.25));

    &:hover {
      @include image-shadow(0, 2px, 2px, rgba(0, 0, 0, 0.5));
    }
  }

  .hamburger-opener {
    display: block;
    background: image-url('hamburger.svg') no-repeat center center;
    height: 20px;
    width: 4px;
    @include breakpoint($breakpoint_tablet) {
      width: 20px;
    }

    position: absolute;
    right: 30px;
    top: 30px;

    @include breakpoint($breakpoint_tablet) {
      right: 200px;
    }
    @include breakpoint($breakpoint_desktop) {
      right: 300px;
    }
    @include breakpoint($breakpoint_superwide) {
      right: 500px;
    }

    opacity: 0.5;
    @include image-shadow(0, 1px, 1px, rgba(0, 0, 0, 0.25));

    transition: opacity $trans_dur;

    &:hover {
      opacity: 1;
    }
    &.open {
      opacity: 1;
    }
  }
}

#toolbox {
  position: fixed;
  z-index: 10;
  padding: 15px;
  height: calc(100% - 80px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  top: 80px;
  left: 30px;
  right: 30px;
  @include breakpoint($breakpoint_tablet) {
    left: 200px;
    right: 200px;
  }
  @include breakpoint($breakpoint_desktop) {
    left: 300px;
    right: 300px;
  }
  @include breakpoint($breakpoint_superwide) {
    left: 500px;
    right: 500px;
  }

  background: #baf6ff;
  background: -moz-linear-gradient(-45deg, #baf6ff 0%, #6bceff 34%, #1f8eff 100%);
  background: -webkit-linear-gradient(-45deg, #baf6ff 0%, #6bceff 34%, #1f8eff 100%);
  background: linear-gradient(135deg, #baf6ff 0%, #6bceff 34%, #1f8eff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#baf6ff', endColorstr='#1f8eff', GradientType=1);

  opacity: 0;
  pointer-events: none;
  transition: opacity $trans_dur;

  &.open {
    opacity: 1;
    pointer-events: auto;
  }

  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 10px;
    background-color: $blue_2;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $orange;
  }

  ul {
    li {
      margin-bottom: 6px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        display: block;
        width: 100%;
        background-color: transparent;
        border: solid 1px transparentize($blue_1, 0.75);
        text-align: center;
        font: bold 18px/18px $body_font;
        color: $blue_1;
        text-decoration: none;
        padding: 6px;
        border-radius: 18px;
        transition: background-color $trans_dur, border-color $trans_dur;

        &:hover {
          border-color: white;
          background-color: white;
        }
      }
    }
  }
}

#content {
  padding: 30px;
  height: 100%;
  @include breakpoint($breakpoint_tablet) {
    margin: 0 200px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  }
  @include breakpoint($breakpoint_desktop) {
    margin: 0 300px;
  }
  @include breakpoint($breakpoint_superwide) {
    margin: 0 500px;
  }
}

h1 {
  font: bold 36px/36px $title_font;
  color: white;
  text-align: center;
  letter-spacing: -0.05em;
  margin-bottom: 36px;
}

h2 {
  font: bold 30px/30px $title_font;
  color: white;
  text-align: center;
  letter-spacing: -0.05em;
  margin-bottom: 18px;
  &:not(:first-child) {
    margin-top: 36px;
  }

}

p {
  color: white;
  font: bold 18px/18px $body_font;
  margin-bottom: 12px;
}

.center {
  text-align: center;
}

label {
  display: block;
  color: white;
  font: bold 18px/18px $body_font;
  margin-bottom: 6px;
  cursor: pointer;

  &.inline {
    display: inline;
  }
}

#{$texty-inputs} {
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 15px;
  font: bold 18px/18px $body_font;
  color: black;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
  width: 100%;
  &[disabled=disabled] {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: none;
    color: white;
  }
}

div#result {
  background-color: rgba(255, 255, 255, 0.25);
  font: bold 18px/18px $body_font;
  color: white;
  border-radius: 3px;
  padding: 15px;
}

textarea {
  border: none;
  border-radius: 3px;
  width: 100%;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
  padding: 15px;
  font: 19px/25px $title_font;
  color: black;
  outline: none;
  &[disabled=disabled] {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: none;
    color: white;
  }
}

input[type=checkbox] {
  margin: 0 8px 0 0;
  width: 18px;
  height: 18px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: white;
  border-radius: 3px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
  outline: none;
  border: none;
  cursor: pointer;
  vertical-align: text-bottom;

  &:checked {
    background: white image-url('checkmark.svg') no-repeat center center;
  }
}

input[type=submit] {
  width: 100%;
  font: bold 18px/18px $body_font;
  color: white;
  background: $orange;
  border-radius: 3px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  transition: background-color $trans_dur;
  border: none;
  padding: 15px;
  cursor: pointer;
  -webkit-appearance: none;

  &:hover {
    background-color: darken($orange, 10%);
  }
}

a.info {
  width: 18px;
  height: 18px;
  display: inline-block;
  background: image-url('info.svg') no-repeat center center;
  opacity: 0.5;
  transition: opacity $trans_dur;
  cursor: pointer;
  margin-left: 6px;

  &:hover {
    opacity: 1;
  }
}

div#modal-shade-info {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity $trans_dur, backdrop-filter $trans_dur, -webkit-backdrop-filter $trans_dur;
  z-index: 30;
  &.open {
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    opacity: 1;
    pointer-events: auto;
  }
  div.info {
    position: absolute;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    padding: 30px;
    top: 110px;
    left: 30px;
    right: 30px;
    @include breakpoint($breakpoint_tablet) {
      left: 230px;
      right: 230px;
    }
    @include breakpoint($breakpoint_desktop) {
      left: 330px;
      right: 330px;
    }
    @include breakpoint($breakpoint_superwide) {
      left: 530px;
      right: 530px;
    }
    .close {
      display: block;
      position: absolute;
      width: 11px;
      height: 11px;
      background: image-url('close_x.svg') no-repeat center center;
      cursor: pointer;
      right: 9.5px;
      top: 9.5px;
    }
    p {
      color: $blue_1;
      font: bold 16px/24px $body_font;
      &:last-child {
        margin: 0;
      }
    }
  }
}

a.copy {
  width: 19px;
  height: 19px;
  display: inline-block;
  vertical-align: text-bottom;
  background: image-url('copy.svg') no-repeat center center;
  opacity: 0.5;
  transition: opacity $trans_dur;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.field {
  margin-bottom: 18px;
}

sup {
  font-size: 70%;
  vertical-align: 7px;
}
