@mixin image-shadow($x, $y, $blur, $color) {
  -webkit-filter: drop-shadow($x $y $blur $color);
  filter: drop-shadow($x $y $blur $color);
}

$orange: #ff984a;
$blue_1: #0054a8;
$blue_2: #0fafff;

$title_font: 'Playfair Display';
$body_font: 'Arimo';
$trans_dur: 0.2s ease 0s;

$breakpoint_tablet: 768px;
$breakpoint_desktop: 1152px;
$breakpoint_superwide: 1500px;

$texty-inputs: 'input[type=date], input[type=datetime-local], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week]';

@import "breakpoint";

